<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styleQuiz.css">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <div class="question">
        <span class="questionNumber">Pytanie 1/10</span>
        <p class="questionText">Który mamy rok, jeżeli dziś jest 2023 a ja musze wydlużyć ten teks aby sprawdzić jak sie zawija?</p>
    </div>
    <div class="answers">
        <button class="answerA">2020</button>
        <button class="answerB">2023</button>
        <button class="answerC">2012</button>
        <button class="answerD">1786</button>
    </div>

</body>
</html>