body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.question{
  width: 825px;
  height: 200px;
  margin-bottom: 20px;
  font-size: 35px;
  border: 0px solid white;
  border-radius: 20px;  
  background-color: #067f8e;
  color: white;
}

.questionNumber{
  font-size: 16px;
  margin-top: 20px;
}

.questionText {
  font-size: 35px;
  margin-bottom: 20px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

button {
  width: 400px;
  height: 200px;
  margin: 10px;
  font-size: 35px;
  border: 0px solid white;
  border-radius: 20px;  
  background-color: #80f1ed;
  color: white;
  cursor: pointer;
}

button:hover{
  opacity: 0.4;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .question {
    width: 100%;
    font-size: 30px;
  }
  
  .answers {
    grid-template-columns: repeat(1, 1fr);
  }
  
  button {
    width: 100%;
    height: 100px;
    margin: 5px;
    font-size: 25px;
  }
}